--swiftversion 5

# Format
--allman false
--elseposition same-line
--guardelse same-line
--ifdef no-indent
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first

# File Options
--exclude "**/.build/**"
--exclude "**/Pods/**"

# Rules
--enable andOperator
--enable AnyObjectProtocol
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable emptyBraces
--enable hoistPatternLet
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantSelf
--enable redundantVoidReturnType
--enable semicolons
--enable sortedImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongifiedSelf
--enable strongOutlets
--enable todos
--enable trailingSpace
--enable typeSugar
--enable void
--enable wrap
--enable wrapAttributes

--disable numberFormatting
--disable redundantReturn
--disable unusedArguments
--disable wrapMultilineStatementBraces
